.code {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-top: -2rem;
}

.code > h2 {
  position: relative;
  top: 3.65rem;
  left: 5.8rem;
}

.code > ul {
  display: block;
}

.code > ul > li > a:hover {
  animation: glitch 4s steps(100) 2, blinker 1.5s linear infinite;
}

.li-decoration {
  display: block;
}

.loading {
  display: inline;
}

.code > ul {
  padding-left: 10rem;

}

.code > ul > li {
  overflow: hidden;

  max-width: 23rem;
  min-width: 23rem;
  max-height: 1rem;
}

.code > ul > li > a {
  color: #323232;

  pointer-events: auto;
  cursor: pointer;
  height: 0.959rem;

  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis-word;
  -webkit-text-stroke: 0.1px #313131;
}

@media only screen and (max-width: 650px), only screen and (max-height: 800px) {

  .code > h2 {
    margin-left: 1.7rem;
    margin-bottom: 0.8rem;
    font-size: 0.4rem;
  }

  .code > ul > li > a {
    font-size: 0.7rem;
  }

}

