.philosophy {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}


.philosophy > h2 {
  position: relative;
  left: 2.1rem;
  top: 3.6rem;
}


.philosophy > ul {
  padding-left: 10rem;

}

.philosophy > ul > li {
  overflow: hidden;

  white-space: nowrap;
  max-width: 23rem;
  min-width: 23rem;
  text-overflow: ellipsis-word;
  height: 1.1rem;
}
.philosophy > ul > li > a {
  pointer-events: auto;
  cursor: pointer;

}

.philosophy > ul > li > a:hover {
  animation: glitch 4s steps(100) 2, blinker 1.5s linear infinite;
}
.philosophy > ul > li > a {
  color: #323232;
  display: inline-block;

  /* overflow: hidden; */
  white-space: nowrap;
  text-overflow: ellipsis-word;
}

@media only screen and (max-width: 580px) {

  .philosophy > h2 {
    margin-left: 3.2rem;
    margin-bottom: 0.65rem;
    font-size: 0.4rem;
  }
  .philosophy > ul > li > a {
    font-size: 0.7rem;
  }
}
