/* submenu */
.submenu > ul {
  position: fixed;
  /* margin-top: 3.0rem; */
  margin-left: -10.7rem;
  top: 3rem;
}
.submenu > ul > li {
  font-size: 1.5rem;
  /* border: 2px solid red; */
  padding: 0 1.5rem;
  cursor: auto;
  pointer-events: auto;

}

/* animations */
.submenu > ul > li:before {
  content:"/";
  visibility: hidden;
}

.submenu > ul > li > :not(.active):before {
  content:"/";
  visibility: hidden;
}

.submenu > ul > li > .active:before {
  content:"/";
  font-weight: bold;
  animation: glitch 4s steps(100) 2, blinker 1.5s linear infinite;
}

.submenu ul > li > .active {
  animation: glitch 4s steps(100) 1;
}

@media only screen and (max-width: 650px), only screen and (max-height: 800px) {

.submenu > ul {
  top: 2rem;
  margin-left: -8.7rem;
}
.submenu > ul > li {
  font-size: 1.2rem;
    }
}

@media only screen and (max-width: 400px), only screen and (max-height: 600px) {

.submenu > ul {
  top: 1.5rem;
  margin-left: -7.7rem;
}
.submenu > ul > li {
  font-size: 1.1rem;
    }
}

@media only screen and (max-width: 350px), only screen and (max-height: 470px) {

.submenu > ul {
  top: 1rem;
  margin-left: -5.7rem;
}
.submenu > ul > li {
  font-size: 0.7rem;
    }
}

