body {
  background-color: #0F0F0F;
  color: #1c1c1c;
  overflow-x: hidden;
  overflow-y: hidden;
  outline:none;
}

h1, h2, h3 {
  font-family: 'Press Start 2P', cursive;
  font-weight: 900;
  font-size: 0.6rem;
}


 ul > li > a {
  text-decoration: none;
  color: #313131;
  outline:none;
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;

  list-style-type: none;
  position: relative;
  list-style: none;
  top: -2.5rem;
  left: 0.5rem;
}

nav > ul > li {
  font-size: 2.2rem;
  font-family: 'VT323', monospace;
  margin-left: -0.6rem;
  margin-right: -0.6rem;
}

.nav > ul > li:before {
  content:">";
  visibility: hidden;
  padding: 0.4rem;
}

.nav > ul > li > :not(.active):before {
  content:">";
  visibility: hidden;
  padding: 0.4rem;
}

.nav > ul > li > .active:before {
  content:">";
  font-weight: bold;
  padding: 0.4rem;
  position: relative;
  top: 0.15rem;
  animation: glitch 4s steps(100) 1, blinker 1.5s linear 6;
}

nav > ul > li:hover {
 animation: glitch 3s steps(100) infinite;
}

/* submenu */
.submenu > ul > li {
  font-size: 1.5rem;
  margin: 0 0.1rem;
  position: relative;
  top: -1.2rem;
}

.submenu > ul > li:before {
  content:"/";
  visibility: hidden;
  padding: 0.2rem;
}

.submenu > ul > li > :not(.active):before {
  content:"/";
  /* visibility: hidden; */
  padding: 0.2rem;
}

.submenu > ul > li > .active:before {
  content:"/";
  font-weight: bold;
  padding: 0.3rem;
  /* position: relative; */
  /* top: -0.25rem; */
  animation: glitch 4s steps(100) 2, blinker 1.5s linear infinite;
}

.submenu ul > li > .active {
  animation: glitch 4s steps(100) 1;
}

#root {
  display: flex;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  color:#313131;
  font-size: 1.2rem;
}

#logo {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.5em;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  max-height: 10rem;
  max-width: 25rem;
  margin-bottom: 5rem;
  margin-top: 12rem;

}


article {
  margin: 0 auto;
  margin: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}

article > img {
  float: left;
  padding: 1rem;
}

article > ul {
  list-style-type: none;
}
article > h3 {
  margin-right: 2rem;
  float: left;
  position: relative;
  top: 3rem;
  min-height: 5.5rem;
}

/* animation */

@keyframes blinker {
  50% { opacity: 0; }
}
/* glitch */
.glitch:hover {
 animation: glitch 2s steps(100) infinite;
}


@keyframes glitch2 {
0%{text-shadow:1px 0 0 #666666,-1px 0 0 #333333;}
1%{text-shadow:1px 0 0 #666666,-1px 0 0 #333333;}
2%{text-shadow:1px 0 0 #666666,-1px 0 0 #333333;}
3%{text-shadow:1px 0 0 #666666,-1px 0 0 #333333;}
4%{text-shadow:1px 0 0 #666666,-1px 0 0 #333333;}
5%{text-shadow:-1px 0 0 #666666,1px 0 0 #333333;}
6%{text-shadow:-1px 0 0 #666666,1px 0 0 #333333;}
7%{text-shadow:-1px 0 0 #666666,1px 0 0 #333333;}
8%{text-shadow:-1px 0 0 #666666,1px 0 0 #333333;}
9%{text-shadow:-1px 0 0 #666666,1px 0 0 #333333;}
10%{text-shadow:-1px 0 0 #666666,1px 0 0 #333333;}
11%{text-shadow:0.5px 0 0 #666666,-0.5px 0 0 #222222;}
12%{text-shadow:0.5px 0 0 #666666,-0.5px 0 0 #222222;}
13%{text-shadow:0.5px 0 0 #666666,-0.5px 0 0 #222222;}
14%{text-shadow:0.5px 0 0 #666666,-0.5px 0 0 #222222;}
15%{text-shadow:0.5px 0 0 #666666,-0.5px 0 0 #222222;}
16%{text-shadow:-1px 0 0 #666666,1px 0 0 #222222;}
17%{text-shadow:-1px 0 0 #666666,1px 0 0 #222222;}
18%{text-shadow:-1px 0 0 #666666,1px 0 0 #222222;}
19%{text-shadow:-1px 0 0 #666666,1px 0 0 #222222;}
20%{text-shadow:-1px 0 0 #666666,1px 0 0 #222222;}
21%{text-shadow:0.7px 0 0 #333333,-0.7px 0 0 #222222;}
22%{text-shadow:0.7px 0 0 #333333,-0.7px 0 0 #222222;}
23%{text-shadow:0.7px 0 0 #333333,-0.7px 0 0 #222222;}
24%{text-shadow:0.7px 0 0 #333333,-0.7px 0 0 #222222;}
25%{text-shadow:0.7px 0 0 #333333,-0.7px 0 0 #222222;}
26%{text-shadow:0.7px 0 0 #333333,-0.7px 0 0 #222222;}
27%{text-shadow:0.7px 0 0 #333333,-0.7px 0 0 #222222;}
28%{text-shadow:0.7px 0 0 #333333,-0.7px 0 0 #222222;}
29%{text-shadow:0.7px 0 0 #333333,-0.7px 0 0 #222222;}
30%{text-shadow:0.7px 0 0 #333333,-0.7px 0 0 #222222;}
31%{text-shadow:-1px 0 0 #333333,1px 0 0 #222222;}
32%{text-shadow:-1px 0 0 #333333,1px 0 0 #222222;}
33%{text-shadow:-1px 0 0 #333333,1px 0 0 #222222;}
34%{text-shadow:-1px 0 0 #333333,1px 0 0 #222222;}
35%{text-shadow:-1px 0 0 #333333,1px 0 0 #222222;}
36%{text-shadow:-1px 0 0 #333333,1px 0 0 #222222;}
37%{text-shadow:-1px 0 0 #333333,1px 0 0 #222222;}
38%{text-shadow:-1px 0 0 #333333,1px 0 0 #222222;}
39%{text-shadow:-1px 0 0 #333333,1px 0 0 #222222;}
40%{text-shadow:-1px 0 0 #333333,1px 0 0 #222222;}
41%{text-shadow:50px 0 0 #333333,-50px 0 0 #222222;}
42%{text-shadow:0 0 0 #333333,0 0 0 #222222;}
43%{text-shadow:0.5px 0 0 #666666,-0.5px 0 0 #222222;}
44%{text-shadow:0.5px 0 0 #666666,-0.5px 0 0 #222222;}
45%{text-shadow:0.5px 0 0 #666666,-0.5px 0 0 #222222;}
46%{text-shadow:0.5px 0 0 #666666,-0.5px 0 0 #222222;}
47%{text-shadow:-1px 0 0 #666666,1px 0 0 #222222;}
48%{text-shadow:-1px 0 0 #666666,1px 0 0 #222222;}
49%{text-shadow:-1px 0 0 #666666,1px 0 0 #222222;}
50%{text-shadow:-1px 0 0 #666666,1px 0 0 #222222;}
51%{text-shadow:1px 0 0 #666666,-1px 0 0 #333333;}
52%{text-shadow:1px 0 0 #666666,-1px 0 0 #333333;}
53%{text-shadow:1px 0 0 #666666,-1px 0 0 #333333;}
54%{text-shadow:1px 0 0 #666666,-1px 0 0 #333333;}
55%{text-shadow:1px 0 0 #666666,-1px 0 0 #333333;}
56%{text-shadow:-1px 0 0 #666666,1px 0 0 #333333;}
57%{text-shadow:-1px 0 0 #666666,1px 0 0 #333333;}
58%{text-shadow:-1px 0 0 #666666,1px 0 0 #333333;}
59%{text-shadow:-1px 0 0 #666666,1px 0 0 #333333;}
60%{text-shadow:-1px 0 0 #666666,1px 0 0 #333333;}
61%{text-shadow:30px 0 0 #666666,-30px 0 0 #222222;}
62%{text-shadow:0 0 0 #666666,0 0 0 #222222;}
63%{text-shadow:0.5px 0 0 #666666,-0.5px 0 0 #333333;}
64%{text-shadow:0.5px 0 0 #666666,-0.5px 0 0 #333333;}
65%{text-shadow:0.5px 0 0 #666666,-0.5px 0 0 #333333;}
66%{text-shadow:0.5px 0 0 #666666,-0.5px 0 0 #333333;}
67%{text-shadow:-1px 0 0 #666666,1px 0 0 #333333;}
68%{text-shadow:-1px 0 0 #666666,1px 0 0 #333333;}
69%{text-shadow:-1px 0 0 #666666,1px 0 0 #333333;}
70%{text-shadow:-1px 0 0 #666666,1px 0 0 #333333;}
71%{text-shadow:70px 0 0 #666666,-70px 0 0 #333333;}
72%{text-shadow:0 0 0 #666666,0 0 0 #333333;}
73%{text-shadow:1px 0 0 #666666,-1px 0 0 #333333;}
74%{text-shadow:1px 0 0 #666666,-1px 0 0 #333333;}
75%{text-shadow:1px 0 0 #666666,-1px 0 0 #333333;}
76%{text-shadow:1px 0 0 #666666,-1px 0 0 #333333;}
77%{text-shadow:-1px 0 0 #666666,1px 0 0 #333333;}
78%{text-shadow:-1px 0 0 #666666,1px 0 0 #333333;}
79%{text-shadow:-1px 0 0 #666666,1px 0 0 #333333;}
80%{text-shadow:-1px 0 0 #666666,1px 0 0 #333333;}
81%{text-shadow:0.5px 0 0 #666666,-0.5px 0 0 #222222;}
82%{text-shadow:0.5px 0 0 #666666,-0.5px 0 0 #222222;}
83%{text-shadow:0.5px 0 0 #666666,-0.5px 0 0 #222222;}
84%{text-shadow:0.5px 0 0 #666666,-0.5px 0 0 #222222;}
85%{text-shadow:0.5px 0 0 #666666,-0.5px 0 0 #222222;}
86%{text-shadow:-1px 0 0 #666666,1px 0 0 #222222;}
87%{text-shadow:-1px 0 0 #666666,1px 0 0 #222222;}
88%{text-shadow:-1px 0 0 #666666,1px 0 0 #222222;}
89%{text-shadow:-1px 0 0 #666666,1px 0 0 #222222;}
90%{text-shadow:-1px 0 0 #666666,1px 0 0 #222222;}
91%{text-shadow:60px 0 0 #222222,-60px 0 0 #333333;}
92%{text-shadow:0 0 0 #222222,0 0 0 #333333;}
92%{text-shadow:0.7px 0 0 #333333,-0.7px 0 0 #222222;}
93%{text-shadow:0.7px 0 0 #333333,-0.7px 0 0 #222222;}
94%{text-shadow:0.7px 0 0 #333333,-0.7px 0 0 #222222;}
95%{text-shadow:0.7px 0 0 #333333,-0.7px 0 0 #222222;}
96%{text-shadow:-1px 0 0 #333333,1px 0 0 #222222;}
97%{text-shadow:-1px 0 0 #333333,1px 0 0 #222222;}
98%{text-shadow:-1px 0 0 #333333,1px 0 0 #222222;}
99%{text-shadow:-1px 0 0 #333333,1px 0 0 #222222;}
100%{text-shadow:-1px 0 0 #333333,1px 0 0 #222222;}
}

@keyframes glitch {
0%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
1%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
2%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
3%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
4%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
5%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
6%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
7%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
8%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
9%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
10%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
11%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
12%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
13%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
14%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
15%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
16%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
17%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
18%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
19%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
20%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
21%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
22%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
23%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
24%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
25%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
26%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
27%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
28%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
29%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
30%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
31%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
32%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
33%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
34%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
35%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
36%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
37%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
38%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
39%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
40%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
41%{text-shadow:50px 0 0 #0085FF,-50px 0 0 #00FF84;}
42%{text-shadow:0 0 0 #0085FF,0 0 0 #00FF84;}
43%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
44%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
45%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
46%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
47%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
48%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
49%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
50%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
51%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
52%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
53%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
54%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
55%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
56%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
57%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
58%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
59%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
60%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
61%{text-shadow:30px 0 0 #8A14FF,-30px 0 0 #00FF84;}
62%{text-shadow:0 0 0 #8A14FF,0 0 0 #00FF84;}
63%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #0085FF;}
64%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #0085FF;}
65%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #0085FF;}
66%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #0085FF;}
67%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
68%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
69%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
70%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
71%{text-shadow:90px 0 0 #8A14FF,-70px 0 0 #0085FF;}
72%{text-shadow:0 0 0 #8A14FF,0 0 0 #0085FF;}
73%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
74%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
75%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
76%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
77%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
78%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
79%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
80%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
81%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
82%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
83%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
84%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
85%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
86%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
87%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
88%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
89%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
90%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
91%{text-shadow:60px 0 0 #00FF84,-60px 0 0 #0085FF;}
92%{text-shadow:0 0 0 #00FF84,0 0 0 #0085FF;}
92%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
93%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
94%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
95%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
96%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
97%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
98%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
99%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
100%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
}


