body {
  background-color: #0F0F0F;
  color: #1F1F1F;
  overflow-x: hidden;
  overflow-y: hidden;
}

nav > ul > li > a {
  text-decoration: none;
  color: #262626;
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;

  list-style-type: none;
  position: relative;
  list-style: none;
  top: -1.8rem;
  left: 0.5rem;
}

nav > ul > li {
  font-size: 2.0rem;
  font-family: 'VT323', monospace;
  margin-left: -0.3rem;
  margin-right: -0.3rem;
}

nav > ul > li:before {
  content:">";
  visibility: hidden;
  padding: 0.4rem;
}

nav > ul > li > :not(.active):before {
  content:">";
  visibility: hidden;
  padding: 0.4rem;
}
.active:before {
  content:">";
  font-weight: bold;
  animation: blinker 2s linear infinite;
  padding: 0.4rem;
  position: relative;
  top: 0.1rem;
  animation: glitch 4s steps(100) infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}
/* submenu */
.submenu > ul > li {
  font-size: 1.5rem;
  margin: 0 1.1rem;
  position: relative;
  top: -1.2rem;
}

#root {
  display: flex;
  justify-content: center;
  font-family: "Hack";
  font-size: 1.4rem;
  margin-top: 9rem;
}

#logo {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.5em;
  position: relative;
  top: 7rem;
  display: flex;
  justify-content: center;
  max-height: 12rem;
}

nav > ul > li:hover {
 animation: glitch 2s steps(100) infinite;
}

nav > ul > li:active {
}


/* glitch */
.glitch:hover {
 animation: glitch 2s steps(100) infinite;
}

@keyframes glitch {
0%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
1%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
2%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
3%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
4%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
5%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
6%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
7%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
8%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
9%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
10%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
11%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
12%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
13%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
14%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
15%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
16%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
17%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
18%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
19%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
20%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
21%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
22%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
23%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
24%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
25%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
26%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
27%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
28%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
29%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
30%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
31%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
32%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
33%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
34%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
35%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
36%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
37%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
38%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
39%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
40%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
41%{text-shadow:50px 0 0 #0085FF,-50px 0 0 #00FF84;}
42%{text-shadow:0 0 0 #0085FF,0 0 0 #00FF84;}
43%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
44%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
45%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
46%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
47%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
48%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
49%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
50%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
51%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
52%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
53%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
54%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
55%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
56%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
57%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
58%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
59%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
60%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
61%{text-shadow:30px 0 0 #8A14FF,-30px 0 0 #00FF84;}
62%{text-shadow:0 0 0 #8A14FF,0 0 0 #00FF84;}
63%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #0085FF;}
64%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #0085FF;}
65%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #0085FF;}
66%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #0085FF;}
67%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
68%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
69%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
70%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
71%{text-shadow:70px 0 0 #8A14FF,-70px 0 0 #0085FF;}
72%{text-shadow:0 0 0 #8A14FF,0 0 0 #0085FF;}
73%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
74%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
75%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
76%{text-shadow:1px 0 0 #8A14FF,-1px 0 0 #0085FF;}
77%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
78%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
79%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
80%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #0085FF;}
81%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
82%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
83%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
84%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
85%{text-shadow:0.5px 0 0 #8A14FF,-0.5px 0 0 #00FF84;}
86%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
87%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
88%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
89%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
90%{text-shadow:-1px 0 0 #8A14FF,1px 0 0 #00FF84;}
91%{text-shadow:60px 0 0 #00FF84,-60px 0 0 #0085FF;}
92%{text-shadow:0 0 0 #00FF84,0 0 0 #0085FF;}
92%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
93%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
94%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
95%{text-shadow:0.7px 0 0 #0085FF,-0.7px 0 0 #00FF84;}
96%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
97%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
98%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
99%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
100%{text-shadow:-1px 0 0 #0085FF,1px 0 0 #00FF84;}
}


