.whois {
  margin-top: 9.5rem;
}

.whois {
  margin: 0 auto;
  margin-left: 20%;
  padding: 1rem;
}

.whois > img {
  float: left;
  padding: 1rem;
}
.whois {
  display: flex;
  justify-content: center;
}

