.work {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-top: 3.7rem;
  margin-left: 7.1rem;
  overflow: hidden;
}


/* scrolls */
.up-scroll {
  position: relative;
  display: inline-block;
  top: 2.5rem;
  margin-left: 19.8rem;

  font-stretch: extra-expanded;
  pointer-events: auto;
  font-size: 1.2rem;
  cursor: pointer;

  transform:scale(2.3,0.9);
  -webkit-transform:scale(2.3,0.9);
}

.down-scroll {
  position: relative;
  display: inline-block;
  bottom: 1.1rem;
  margin-left: 19.8rem;

  pointer-events: auto;
  font-size: 1.2rem;
  cursor: pointer;

  transform:scale(2.3,0.9);
  -webkit-transform:scale(2.3,0.9);

}

.down-scroll:hover {
  animation: glitch 3s steps(100) infinite;
  pointer-events: auto;
}

.up-scroll:hover {
  animation: glitch 3s steps(100) infinite;
  pointer-events: auto;
}


