
.work {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  margin-top: 31.2rem;
  margin-left: -15rem;
}


/* scrolls */
.up-scroll {
  position: relative;
  display: inline-block;
  top: 2.6rem;
  margin-left: 19.8rem;

  font-stretch: extra-expanded;
  pointer-events: auto;
  font-size: 1.2rem;
  cursor: pointer;

  transform:scale(2.3,0.9);
  -webkit-transform:scale(2.3,0.9);
}

.down-scroll {
  position: relative;
  display: inline-block;
  bottom: 1.1rem;
  margin-left: 19.8rem;

  pointer-events: auto;
  font-size: 1.2rem;
  cursor: pointer;

  transform:scale(2.3,0.9);
  -webkit-transform:scale(2.3,0.9);

}

.down-scroll:hover {
  animation: glitch 3s steps(100) infinite;
  pointer-events: auto;
}

.up-scroll:hover {
  animation: glitch 3s steps(100) infinite;
  pointer-events: auto;
}

@media only screen and (max-width: 650px), only screen and (max-height: 800px) {

  .work {
    margin-top: 22.2rem;
    margin-left: -15.5rem;
  }

.up-scroll {
  top: 2.9rem;
  margin-left: 19.0rem;

  transform:scale(2.2,1.0);
  -webkit-transform:scale(2.2,1.0);
}

.down-scroll {
  bottom: 1.2rem;
  margin-left: 19.0rem;

  transform:scale(2.2,1.0);
  -webkit-transform:scale(2.2,1.0);
}

.code-down {
  bottom: 1.3rem;
  margin-left: 19.0rem;
}
.code-up {
  top: 2.6rem;
  margin-left: 19.0rem;
}
}

@media only screen and (max-width: 400px), only screen and (max-height: 600px) {

  .work {
    margin-top: 11.5rem;
    margin-left: -15.5rem;
  }
  .upfix {
    margin-bottom: 0.2rem;
  }

  .up-scroll {
    top: 3.2rem;
    margin-left: 19.0rem;

  }

  .down-scroll {
    bottom: 1.25rem;
    margin-left: 19.0rem;

  }

  .code-up {
    top: 2.7rem;
    margin-left: 19.0rem;
  }
}

@media only screen and (max-width: 350px), only screen and (max-height: 470px) {

  .work {
    margin-top: 6.5rem;
    margin-left: -10.5rem;
  }
}
