#logo {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.7rem;
  font-size: 1.4rem;
  color: #111;
  cursor: cell;
  display: inline;
  pointer-events: auto;
  /* -webkit-text-stroke: 0.1rem #111; */
}

.logo-wrap {
  display: block;
  margin-top: 27%;
  margin-bottom: 2rem;
  padding: 0;
}

