#logo {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.7rem;
  font-size: 1.4rem;
  color: #141414;
  color: #111;
  cursor: cell;
  pointer-events: auto;

  /* width: 39rem; */
  height: 0.01rem;
  /* z-index: 999; */
  position: fixed;
  margin-top: 9.5rem;
}

.logo-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  white-space: pre;
}
#logo {
  white-space: pre;
}
#logo:hover {
  color: #111;
  white-space: pre;
}


div > pre {
    white-space: no-wrap;
  }
div > pre > code {
    white-space: pre;
  }

@media only screen and (max-width: 650px), only screen and (max-height: 800px) {

  #logo {
    margin-top: 8rem;
    font-size: 0.7rem;
    line-height: 0.9rem;
  }
}

@media only screen and (max-width: 400px), only screen and (max-height: 600px) {

  #logo {
    margin-top: 2rem;
    font-size: 0.6rem;
    line-height: 0.7rem;
  }
}

@media only screen and (max-width: 350px), only screen and (max-height: 470px) {

  #logo {
    margin-top: 1rem;
    font-size: 0.4rem;
    line-height: 0.4rem;
  }
}
