#logo {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.7rem;
  font-size: 1.4rem;
  color: #141414;
  color: #111;
  cursor: cell;
  pointer-events: auto;

  /* width: 39rem; */
  height: 0.01rem;
  /* z-index: 999; */
  position: fixed;
  margin-top: 9.5rem;

}
.logo-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  white-space: pre !important;
}
#logo {
  white-space: pre !important;
}
#logo:hover {
  color: #111;
  white-space: pre;
}


div > pre {
    white-space: no-wrap !important;
  }
div > pre > code {
    white-space: pre !important;
  }
  div > pre > pre {
    display: inline-block;
    position: relative;
    margin-top: -9rem;
  }

  #n {
  top: 10rem;
  right: 1rem;
  }

  #t {
  right: 0.5rem;
  }

  #h {
  top: 1.6rem;
  right: 0.5rem;
  }

  #i {
  right: 0.5rem;
  }
  #s {
    top: 1.5rem;
    right: 4.5rem;
  }

@media only screen and (max-width: 650px), only screen and (max-height: 800px) {

  #logo {
    margin-top: 8rem;
    font-size: 0.7rem;
    line-height: 0.9rem;
  }

  #n {
  right: 0.5rem;
  }

  #a {
    top: 4rem;
  }

  #a2 {
    top: 4rem;
  }

  #t {
  top: 4rem;
  right: 0.5rem;
  }

  #h {
  top: 4.8rem;
  right: 0.5rem;
  }

  #i {
  top: 4rem;
  right: 0.5rem;
  }

  #s {
    top: 4.8rem;
    right: 2.3rem;
  }

}

@media only screen and (max-width: 400px), only screen and (max-height: 600px) {

  #logo {
    margin-top: 2rem;
    font-size: 0.6rem;
    line-height: 0.7rem;
  }

  #n {
  right: 1rem;
  left: -0.5rem;
  }

  #a {
    top: 5.5rem;
  }

  #a2 {
    top: 5.5rem;
  }

  #t {
    top: 5.5rem;
  right: 0.5rem;
  }

  #h {
  top: 6.3rem;
  right: 0.5rem;
  }

  #i {
  top: 5.5rem;
  right: 0.5rem;
  }

  #s {
    top: 6.3rem;
    right: 1.8rem;
  }
}

@media only screen and (max-width: 350px), only screen and (max-height: 470px) {

  #logo {
    margin-top: 1rem;
    font-size: 0.4rem;
    line-height: 0.45rem;
  }

  #n {
  top: 6rem;
  right: 1rem;
  }

  #a {
    top: 4rem;
  }

  #t {
  top: 4rem;
  right: 0.0rem;
  }

  #h {
  top: 4.4rem;
  right: 0.0rem;
  }

  #i {
  top: 4rem;
  right: 0.0rem;
  }

  #a2 {
  top: 4rem;
  left: 0.2rem;
  }

  #s {
    top: 4.5rem;
    right: 1.0rem;
  }

}
